# Uso de Pandas para datos

 Pandas es la principal herramienta que utilizan los científicos de datos para explorar y manipular datos. La mayoría de la gente abrevia pandas en su código como pd.

In [4]:
import pandas as pd

Para pandas lo mas importante es el DataFrame. Un DataFrame es como una tabla similar a una hoja en Excel o una base de datos SQL.

Como ejemplo, veremos datos sobre los precios de la vivienda en Melbourne. Se aplicarán los mismos procesos a un nuevo conjunto de datos, que tiene los precios de la vivienda en Iowa.

[Datos del ejemplo (Melbourne)](https://drive.google.com/file/d/1tmtn7w-PfHnb9F5y1_26aHHOvWoAqV8X/view?usp=share_link)

Descargamos, cargamos y exploramos los datos con los siguientes comandos:

In [7]:
# guardar la ruta del archivo en una variable para facilitar el acceso
melbourne_file_path = '/content/melb_data.csv'
# leer los datos y almacenarlos en DataFrame titulado melbourne_datas
melbourne_data = pd.read_csv(melbourne_file_path) 
# imprimir un resumen de los datos en melbourne_datas
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

# Interpretación de los datos Descripción
Los resultados muestran 8 números para cada columna del conjunto de datos original. El primer número, el recuento, muestra cuántas filas tienen valores que no faltan.

El segundo valor es la media, que es el promedio. Debajo, std es la desviación típica, que mide la dispersión numérica de los valores.

Para interpretar los valores mínimo, 25%, 50%, 75% y máximo, imagine que ordena cada columna de menor a mayor valor. El primer valor (el más pequeño) es el mínimo. Si recorres un cuarto de la lista, encontrarás un número que es mayor que el 25% de los valores y menor que el 75% de los valores. Ese es el valor del 25% (pronunciado "percentil 25"). Los percentiles 50 y 75 se definen de forma análoga, y el máximo es el número más grande.

# Caso practico

## Cargar datos

[Datos de practica](https://drive.google.com/file/d/1pxueUHUf-YyErkseZA3pfn3Si2pfWOJg/view?usp=sharing)

In [21]:
import pandas as pd

# Ruta del archivo a leer
iowa_file_path = '/content/train.csv'

# Complete la siguiente línea para leer el archivo en una variable home_data
home_data = pd.read_csv(melbourne_file_path)

## Leer datos

In [22]:
# Imprimir estadísticas resumidas en la línea siguiente

In [33]:
iowa_file_path = '/content/train.csv'

home_data = pd.read_csv(iowa_file_path)

# ¿Cuál es el tamaño medio de los lotes (redondeado al número entero más próximo)?
avg_lot_size = home_data.LotArea.mean()
print(avg_lot_size)

# As of today, how old is the newest home (current year - the date in which it was built)
newest_home_age = home_data.YearBuilt.max()
datos=2023-int(newest_home_age)
print(datos)

10516.828082191782
13